.form-wrapper {
  padding-top: 20px;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-field {
    margin-bottom: 15px;

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .form-field-input {
      width: 100%;
      padding: 12px;
      margin: 5px 0;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      transition: border-color 0.3s ease;

      &:focus {
        outline: none;
        border-color: #4caf50;
      }
    }
  }

  .error-text {
    color: #f44336;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .button-primary {
    margin-block: 10px;
    width: 100%;
    padding: 12px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
  /* Styling the dynamic phone number input fields */

  .phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .phone-number-input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px; /* Add spacing between input and remove button */
    box-sizing: border-box;
  }

  .phone-number-input:focus {
    border-color: #007bff;
    outline: none;
  }

  /* Styling for the remove button */
  .remove-phone-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  .remove-phone-button:hover {
    background-color: #e60000;
  }
}
