<aside class="sidebar">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/reactive-form/form-group"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Form Group</a
        >
      </li>
      <li>
        <a routerLink="/reactive-form/nested-form" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Nested Form with Form Array</a
        >
      </li>
      <li>
        <a routerLink="/reactive-form/async-custom-group" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Custom & Async Validator</a
        >
      </li>
      <li>
        <a routerLink="custom-form-control" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Custom Form Control</a
        >
      </li>
    </ul>
  </nav>
</aside>
<main>
  <router-outlet />
</main>
