<header class="sticky-nav">
  <nav>
    <ul>
      <li>
        <a
          routerLink="reactive-form/form-group"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Form Group</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Form Array</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Nested Form</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Custom Validator</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Async Validator</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet />
