<header class="sticky-nav">
  <nav>
    <ul>
      <li>
        <a
          routerLink="/reactive-form/form-group"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Form Group</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Form Array</a
        >
      </li>
      <li>
        <a routerLink="#" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Nested Form</a
        >
      </li>
      <li>
        <a routerLink="/reactive-form/async-custom-group" routerLinkActive="active" ariaCurrentWhenActive="page"
          >Custom & Async Validator</a
        >
      </li>
    </ul>
  </nav>
</header>
<main>
  <router-outlet />
</main>
